<!-- Page Header -->
<header class="intro-header" style="background-color: #333">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="page-heading">
                    <h1>Add a New Post</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">

            <form name="blogpostForm" id="blogpostForm" novalidate ng-submit="addNewPostCtrl.createPost()">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Post Title</label>
                        <input type="text" class="form-control" name="title" ng-model="addNewPostCtrl.title" placeholder="Post Title"  id="postTitle" required>
                        <p ng-show="blogpostForm.title.$error.required && addNewPostCtrl.submitted" class="help-block text-danger">Please enter a title.</p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Sub Title</label>
                        <input type="text" class="form-control" name="subtitle" ng-model="addNewPostCtrl.subtitle" placeholder="Sub Title"  id="subTitle" required>
                        <p ng-show="blogpostForm.subtitle.$error.required && addNewPostCtrl.submitted" class="help-block text-danger">Please enter a sub title</p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Header Background Image</label>
                        <input type="text" class="form-control" name="headerBackgroundImg" ng-model="addNewPostCtrl.headerBackgroundImg" placeholder="Header Background Image URL" required>
                        <p ng-show="blogpostForm.headerBackgroundImg.$error.required && addNewPostCtrl.submitted" class="help-block text-danger">Please enter a url for this post's header background image.</p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group controls">
                        <label>Include Trail Review?</label>
                        <input type="checkbox" ng-init="addNewPostCtrl.hasTrailReview = false" ng-model="addNewPostCtrl.hasTrailReview">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group" ng-if="addNewPostCtrl.hasTrailReview">
                    <div class="form-group floating-label-form-group controls">
                        <label>Trail Name</label>
                        <input type="text" class="form-control" name="trailName" placeholder="Trail Name" ng-model="addNewPostCtrl.trailName" required>
                        <p ng-show="blogpostForm.trailName.$error.required && addNewPostCtrl.submitted && addNewPostCtrl.hasTrailReview" class="help-block text-danger">Please enter a trail name.</p>
                    </div>
                </div>

                <div class="control-group" ng-if="addNewPostCtrl.hasTrailReview">
                    <div class="form-group floating-label-form-group controls">
                        <label>Park</label>
                        <input type="text" class="form-control" name="trailPark" placeholder="Trail Park" ng-model="addNewPostCtrl.trailPark" required>
                        <p ng-show="blogpostForm.trailPark.$error.required && addNewPostCtrl.submitted && addNewPostCtrl.hasTrailReview" class="help-block text-danger">Please enter the name of the park.</p>
                    </div>
                </div>

                <div class="control-group" ng-if="addNewPostCtrl.hasTrailReview">
                    <div class="form-group controls">
                        <label>Difficulty</label>
                        <select name="difficulty" ng-model="addNewPostCtrl.trailDifficulty" required>
                            <option value="">Select Difficulty</option>
                            <option value="easy">Easy</option>
                            <option value="moderate">Moderate</option>
                            <option value="difficult">Difficult</option>
                        </select>
                        <p ng-show="blogpostForm.difficulty.$error.required && addNewPostCtrl.submitted && addNewPostCtrl.hasTrailReview" class="help-block text-danger">Please select a difficulty</p>
                    </div>
                </div>


                <div class="control-group" ng-if="addNewPostCtrl.hasTrailReview">
                    <div class="form-group controls">
                        <label>Rating</label>
                        <select name="trailRating" ng-model="addNewPostCtrl.trailRating">
                            <option value="">Select Rating</option>
                            <option value="1">1 Stars</option>
                            <option value="2">2 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="5">5 Stars</option>
                        </select>
                        <p ng-show="blogpostForm.trailRating.$error.required && addNewPostCtrl.submitted && addNewPostCtrl.hasTrailReview" class="help-block text-danger">Please rate this trail.</p>
                    </div>
                </div>


                <div class="control-group" ng-repeat="postItem in addNewPostCtrl.newPostData">
                    <ng-form name="blogpostContentForm">
                        <div class="form-group floating-label-form-group controls" ng-if="postItem.type=='title'">
                            <label>Section Title</label>
                            <input type="text" class="form-control" name="sectionTitle" placeholder="Section Title" ng-model="postItem.content" required>
                            <p ng-show="blogpostContentForm.sectionTitle.$error.required && addNewPostCtrl.submitted" class="help-block text-danger">Please enter a section title.</p>
                        </div>

                        <div class="form-group floating-label-form-group controls" ng-if="postItem.type=='paragraph'">
                            <label>Paragraph</label>
                            <textarea ng-model="postItem.content" name="paragraph" class="form-control autoExpand" rows='3' data-min-rows='3' placeholder="Paragraph" required></textarea>
                            <p ng-show="blogpostContentForm.paragraph.$error.required && addNewPostCtrl.submitted" class="help-block text-danger">Please enter text for this paragraph.</p>
                        </div>

                        <div class="form-group floating-label-form-group controls" ng-if="postItem.type=='image'">
                            <label>Image Url</label>
                            <input type="text" class="form-control" name="imgUrl" placeholder="Image Url" ng-model="postItem.url" required>
                            <p ng-show="blogpostContentForm.imgUrl.$error.required && addNewPostCtrl.submitted" class="help-block text-danger">Please enter a url for this image.</p>
                            <label>Image Caption</label>
                            <input type="text" class="form-control" placeholder="Image Caption" ng-model="postItem.caption">
                        </div>

                        <div class="form-group floating-label-form-group controls" ng-if="postItem.type=='quote'">
                            <label>Quote</label>
                            <input type="text" class="form-control" name="quote" placeholder="Quote" ng-model="postItem.content" required>
                            <p ng-show="blogpostContentForm.quote.$error.required && addNewPostCtrl.submitted" class="help-block text-danger">Please enter text for a quote.</p>
                        </div>
                        <div class="form-group">
                            <button type="button" ng-click="addNewPostCtrl.deletePostItem($index)" class="btn btn-secondary">Delete</button>
                            <select ng-change="addNewPostCtrl.insertNewPostItem(addNewPostCtrl.insertedItem[$index], $index)" ng-model="addNewPostCtrl.insertedItem[$index]">
                                <option value="">Insert</option>
                                <option value="title">Section Title</option>
                                <option value="paragraph">Paragraph</option>
                                <option value="image">Image</option>
                                <option value="quote">Quote</option>
                            </select>
                        </div>
                    </ng-form>
                </div>

                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" ng-click="addNewPostCtrl.addNewPostItem('paragraph')">Add Paragraph</button>
                    <button type="button" class="btn btn-secondary" ng-click="addNewPostCtrl.addNewPostItem('title')">Add Section Title</button>
                    <button type="button" class="btn btn-secondary" ng-click="addNewPostCtrl.addNewPostItem('image')">Add Image</button>
                    <button type="button" class="btn btn-secondary" ng-click="addNewPostCtrl.addNewPostItem('quote')">Add Quote</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Create Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
