    <!-- Page Header -->
    <header class="intro-header" ng-style="{ 'background-image': 'url(' + postCtrl.blogpostData.headerBackgroundImg + ')',
                                            'background-size': 'cover',
                                           'background-attachment': 'fixed'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="post-heading">
                        <h1>{{postCtrl.blogpostData.title}}</h1>
                        <h2 class="subheading">{{postCtrl.blogpostData.subtitle}}</h2>
                        <span class="meta">Posted by <a href="#">{{postCtrl.blogpostData.author}}</a> on <span>{{postCtrl.blogpostData.date | amDateFormat:'MMMM Do, YYYY'}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="card">
                        <div class="card-header">Trail Review</div>
                        <div class="card-block">
                            <h4 class="card-title">{{postCtrl.blogpostData.trailReview.name}}</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Located in {{postCtrl.blogpostData.trailReview.park}}</li>
                            <li class="list-group-item">Difficulty {{postCtrl.blogpostData.trailReview.difficulty}}</li>
                            <li class="list-group-item">Rating
                                <span ng-repeat="star in postCtrl.stars(postCtrl.blogpostData.trailReview.rating)"> &#9733;</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">

                    <p ng-repeat-start="content in postCtrl.blogpostData['post-content']" ng-if="content.type=='paragraph'">{{content.content}}</p>

                    <h2 class="section-heading" ng-if="content.type=='title'">{{content.content}}</h2>

                    <blockquote class="blockquote" ng-if="content.type=='quote'">{{content.content}}</blockquote>

                    <a href="#" ng-if="content.type=='image'">
                        <img class="img-responsive" ng-src="{{content.url}}" alt="">
                    </a>
                    <span ng-repeat-end ng-if="content.type=='image'" class="caption text-muted">{{content.caption}}</span>

                </div>
            </div>
        </div>
    </article>